:root {
  --primary-color: #0a1118;
  --primary-color-highlight: #233d54;
  --bs-body-bg: #fbf0f6;
  --bs-body-font-family: "Montserrat-bold", sans-serif;
  --text-ccc: #ccc;
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat-bold";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

body {
  font-family: "Montserrat-bold", sans-serif;
  font-family: "Poppins", sans-serif;
  background-image: url(../img/video.mp4);
}
.header {
  z-index: 2;
}

#navbar {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
}

.close-btn-nav {
  position: absolute;
  top: 17px;
  right: 16px;
}

.navbar-btn-class {
  direction: rtl;
}

.dropdown-menu-class li {
  animation: animation 3s;
  position: absolute;
}
